@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
     background-image: url("./image/cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: overlay;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.highlight{
  color: #FF008E;  
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #53052f, #ff008e, #53052f);
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: 0;
    box-shadow: 0 7px #ff008e;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 3px 0 #ff008e;
}

.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 15px 10px;
}
.container{
    max-width: 1200;
    margin: 0 auto;
    padding: 0 30px;
}
.banner{
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-right img{
    width: 100%;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-left h2{
   font-size: 50px;
   color: #fff;
}

.banner-left p{
   font-size: 15px;
   color: #fff;
   line-height: 1.5;
   margin: 20px 0;
}
.section-title h2{
    font-size: 40px;
    border-bottom: 2px solid#FF008E;
    margin: 50px 0;
    display: inline-block;
    text-transform: uppercase;

}
.section-title{
    text-align: center;
}
/* Feature part css */
.feature{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.card{
    width: 300px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 30px 35px rgba(0, 0, 0, .3);
}
.card .card-icon{
   background-color: #FF008E;
   color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 10px;
   text-align: center;
   display: inline-block;
}
.card h3{
    color: #FF008E;
    font-size: 25px;
    
}
.card p{
    margin: 10px 0;
    line-height: 1.5;
}
.card a{
    text-decoration: none;
    color: #FF008E;
}

/* galler part css */

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.photo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 3px solid #FF008E;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img{
  width: 100%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 2px solid #FF008E;
}
footer{
   height: 50px; 
   display: flex;
   justify-content: center;
   align-items: center;
   
}



